<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto registro</title>
    <script src="/js/validacionUsuario.js" defer></script>
</head>
<body>
    <div id="caja">
        <h1>Nuevo usuario</h1>
        <form id="myForm"
        method="post"
        action="#"
        th:action="@{/usuario/autoRegistro/submit}"
        th:object="${usuarioForm}">
            <div id="divNombre">
                <label for="nombre">Nombre:</label>
                <input 
                type="text" 
                id="nombre" 
                maxlength="40"
                placeholder="Nombre"
                pattern="^[a-zA-Z\s]{1,50}$"
                th:field="*{nombre}"
                required>
                <p id="avisoNombre"></p>
            </div><br/>
            
            <div id="divApellidos">
                <label for="apellidos">Apellidos:</label>
                <input 
                type="text" 
                id="apellidos"
                maxlength="80"
                pattern="^[a-zA-Z\s]{1,50}$"
                th:field="*{apellidos}"
                required
                >
                <p id="avisoApellidos"></p>

            </div><br/>
            <div id="divEmail">
                <label for="email">Email:</label>
                <input 
                type="email" 
                id="email" 
                th:field="*{email}"
                required>
                <p id="avisoEmail"></p>

            </div><br/>
            <div id="divTelefono">
                <label for="telefono">Telefono:</label>
                <input 
                type="text" 
                id="telefono"
                maxlength="9"
                minlength="9"
                th:field="*{telefono}"
                required
                >
                <p id="avisoTelefono"></p>

            </div><br/>
            <div id="divNombreusuario">
                <label for="nombreUsuario">Nombre de usuario:</label>
                <input 
                type="text" 
                id="nombreUsuario"
                pattern="^[a-zA-Z0-9._-/*]+$"
                th:field="*{nombreUsuario}"
                required
                >
                <p id="avisoNombUsuario"></p>

            </div>
            <div id="divContrasena">
                <label for="contrasena">Contraseña</label>
                <input 
                type="password"
                id="contrasena"
                maxlength="20"
                minlength="5"
                pattern="^[\s\S]{5,20}$"
                placeholder="Contraseña entre 5 y 30 caracteres"
                th:field="*{password}"
                required>
                <p id="avisoContrasena"></p>

            </div>
            <div id="divContrasena2">
                <label for="contrasena2">Confirma la contraseña</label>
                <input 
                type="password"
                id="contrasena2"
                maxlength="20"
                minlength="5"
                required>
                <p id="avisoContrasena2"></p>

            </div>
            <button type="submit" id="enviar">Continuar</button>
        </form>
        <a th:href="@{/inicio}">Inicio</a><br />

    </div>
    
    <!-- <th:block id="scripts">
        <script type="application/javascript" th:src="@{/js/validacion.js.js}" ></script>
    </th:block>
     -->
     

</body>
</html>