<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/validacionProducto.js"defer></script>
    <title>Editar producto</title>
  </head>
  <body>
    <h1>Editar producto</h1>
    <form
    id="myForm"
      method="post"
      action="#"
      th:action="@{/producto/editar/submit}"
      th:object="${productoForm}"
    >
      <label><input type="text" readonly id="id" th:field="*{id}" hidden/> </label
      ><br />
      <label
        >Nombre: <input type="text" id="nombre" maxlength="40"
        placeholder="Nombre" pattern="^[a-zA-Z\s]{1,50}$" th:field="*{nombre}" required/>
        <p id="avisoNombre"></p>
        </label
      ><br />
      <label
        >En oferta:<input
          type="checkbox"
          id="oferta"
          th:field="*{oferta}" /></label
      ><br />
      <label> Precio:<input type="text" id="precio" min="0" pattern="^\d+(\.\d{1,2})?$" th:field="*{precio}" required /> 
        <p id="avisoPrecio"></p>
      </label><br/>
      <label> Stock:<input type="number" id="stock" min="0" pattern="^\d+$" th:field="*{stock}" required/> 
        <p id="avisoStock"></p>
      </label>

      <label
        >Categoria
        <select name="categoria" th:field="*{categoria}">
          <option
            th:each="cat : ${listaCategorias}"
            th:value="${cat.id}"
            th:text="${cat.nombre}"
          ></option>
        </select> </label
      ><br />

      <input type="submit" value="Enviar" id="enviar" />
    </form>
    <a th:href="@{/producto/}">Inicio</a><br />
  </body>
</html>
