body{
    /* background: rgb(123,31,162);
    background: -moz-linear-gradient(45deg, rgba(123,31,162,1) 0%, rgba(233,30,99,1) 51%, rgba(244,67,54,1) 90%);
    background: -webkit-linear-gradient(45deg, rgba(123,31,162,1) 0%, rgba(233,30,99,1) 51%, rgba(244,67,54,1) 90%);
    background: linear-gradient(45deg, rgba(123,31,162,1) 0%, rgba(233,30,99,1) 51%, rgba(244,67,54,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7b1fa2",endColorstr="#f44336",GradientType=1); */

    /* background: rgb(120,0,2);
    background: -moz-linear-gradient(60deg, rgba(120,0,2,1) 1%, rgba(197,10,34,1) 30%, rgba(131,124,158,1) 95%);
    background: -webkit-linear-gradient(60deg, rgba(120,0,2,1) 1%, rgba(197,10,34,1) 30%, rgba(131,124,158,1) 95%);
    background: linear-gradient(60deg, rgba(120,0,2,1) 1%, rgba(197,10,34,1) 30%, rgba(131,124,158,1) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#780002",endColorstr="#837c9e",GradientType=1); */

    background-image: url('/images/fondoWeb.png');
    background-repeat: round;

}
#navbarNav{
/* background-color: rgb(37, 37, 37); */
border-radius: 0 0 5% 5%;
align-content:space-around;

}

#logo{
    height: 5em;
    width: 5em;
}

#cabecera{
    height: auto;
    width: 90%;
    margin: 2% 5% 2% 5%;
    align-items: center;    
    border-radius: 2em;
}

#enviado{
    margin-top: 15em;
    margin-bottom: 8em;
    margin-left: 10em;
}

#formulario{

    margin-top: 0;
}

.form-control {
    width: 100%; /* O cualquier otro valor que desees */
    height: auto; /* Ajusta la altura según sea necesario */
    font-size: 18px; /* Aumenta el tamaño de la fuente */
  }

.dropdown-menu{
    margin-top: 10em;
    margin-bottom: 10em;
}

#footerContainer{
    width: 100%;
}

#footer{
    /* background-color: black; */
    position: absolute;
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    padding: 20px;
    margin-top: 10em;
}
#divGif{
    margin-block-end: auto;
    
}
#gif{
    height: 15em;
    width: 15em;
}
.row{
    color: #e0e0e0;
}

#rrss{
    margin-right: 2em;
}

#instagram{
    color: white;
}
#linkedin{
    color: white;
}
#youtube{
    color: white;
}
  