body{
    /* background: rgb(120,0,2);
    background: -moz-linear-gradient(60deg, rgba(120,0,2,1) 1%, rgba(197,10,34,1) 30%, rgba(131,124,158,1) 95%);
    background: -webkit-linear-gradient(60deg, rgba(120,0,2,1) 1%, rgba(197,10,34,1) 30%, rgba(131,124,158,1) 95%);
    background: linear-gradient(60deg, rgba(120,0,2,1) 1%, rgba(197,10,34,1) 30%, rgba(131,124,158,1) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#780002",endColorstr="#837c9e",GradientType=1); */
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
  

#navbarNav{
/* background-color: rgb(37, 37, 37); */
border-radius: 0 0 5% 5%;
align-content:space-around;
height: auto;
width: 90%;
}

#logo{
    height: 5em;
    width: 5em;
}
.carrito {
    position: absolute; /* Esto hace que el elemento se posicione en relación al primer ancestro posicionado */
    right: 2em; /* Esto coloca el elemento al borde derecho del contenedor */
    list-style: none;

}

#imgCaja{
    height: 6em;
    width: 8em;
}


#carousel{
    margin-top: 1em;
    margin-bottom: 1em;
    height: 50em;
}
.carrouselImagenes{
    height: 100%;
    width: 100%;
}
#titulo{

    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 2em;
    width: 13em;
    padding-left: 2em;
    padding-right: 2em;
    
}
#cabecera{
    height: 20%;
}
#footerContainer{
    width: 100%;
}

#footer{
    /* background-color: black; */
    position: absolute;
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    padding: 20px;
    margin-top: 10em;
}
#divGif{
    margin-block-end: auto;
    
}
#gif{
    height: 15em;
    width: 15em;
}
.row{
    color: #e0e0e0;
}
#autenticado{
    margin-right: 0;
}
#caja{
    list-style: none;
    
}

#rrss{
    margin-right: 2em;
}

#instagram{
    color: white;
}
#linkedin{
    color: white;
}
#youtube{
    color: white;
}
  