body{
    background-image: url('/images/fondoWeb.png');
    background-repeat: repeat; /* Repite la imagen tanto horizontal como verticalmente */
    background-position: top left; 
    background-size: 25%;

}
#navbarNav{
/* background-color: rgb(37, 37, 37); */
border-radius: 0 0 5% 5%;
align-content:space-around;

}
#logo{
    height: 5em;
    width: 5em;
}

#cabecera{
    height: auto;
    width: 90%;
    margin: 2% 5% 2% 5%;
    align-items: center;    
    border-radius: 2em;
}




.container {
    margin-top: 5em;
    margin-bottom: 8em;
    color: #317433;
}
.inicio{

    color: #76799B;

}
.error{

    color: #DB1A35;

}
#formulario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em 2em 2em 8em;
    padding: 2em 2em 2em 2em;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.7); /* Color blanco con 50% de opacidad */
    border-radius: 5em;
    
}
.form-control {
    width: 90%; /* O cualquier otro valor que desees */
    height: auto; /* Ajusta la altura según sea necesario */
    font-size: 18px; /* Aumenta el tamaño de la fuente */
  }

.dropdown-menu{
    margin-top: 10em;
    margin-bottom: 10em;
}

.dropdown-item{
    color: #37229C;
}
.form-control::placeholder{

    color: #e38096;
}

#footerContainer{
    width: 100%;
}

#footer{
    /* background-color: black; */
    position: absolute;
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    padding: 20px;
    margin-top: 10em;
}
#divGif{
    margin-block-end: auto;
    
}
#gif{
    height: 15em;
    width: 15em;
}
.row{
    color: #e0e0e0;
}

#rrss{
    margin-right: 2em;
}

#instagram{
    color: white;
}
#linkedin{
    color: white;
}
#youtube{
    color: white;
}
  
