body{
    background-image: url('/images/fondoWeb.png');
    background-repeat: repeat; /* Repite la imagen tanto horizontal como verticalmente */
    background-position: top left; 
    background-size: 25%;
    font-family: "Roboto", sans-serif;
    font-size: 20px;


}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }


#navbarNav{
    /* background-color: rgb(37, 37, 37); */
    border-radius: 0 0 5% 5%;
    align-content:space-around;
    height: auto;
    width: 90%;
    font-size: 20px;

    
    }

#logo{
    height: 5em;
    width: 5em;
}

#cabecera{
    height: auto;
    width: 90%;
    margin: 2% 5% 2% 5%;
    align-items: center;    
    border-radius: 2em;
  }
.carrito {
    position: absolute; /* Esto hace que el elemento se posicione en relación al primer ancestro posicionado */
    right: 2em; /* Esto coloca el elemento al borde derecho del contenedor */
    list-style: none;

}
#imgCaja{
    height: 6em;
    width: 8em;
}

/* #container{
    margin: 15em 5em 5em 5em;
    background-color: rgba(255, 255, 255, 0.7); 
    border-radius: 5em;
    visibility: 0.5;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
} */
#container {
    margin: 0 auto; /* Centra horizontalmente */
    margin-top: 15em;
    margin-bottom: 2em;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
#elemento{
    /* background-image: url('/images/fondoWeb.png'); */
    border: 2px black;
    border-radius: 8px 8px 8px 8px;
    padding: 5em 5em 5em 5em;
}

.texto{
    text-align: justify;
    width: 100%;
    max-width: 600px;
}
/* 
#elemento2 {
    /* Esto hace que los elementos tengan el mismo ancho */
    /*
    flex: 1;  
    padding: 10px;
    height: 100%;
    width: 50%;
    margin-top: 0;
    margin-bottom: 2%;
    margin-left: 0%;
    margin-right: 5%;
    
    border-radius: 0 8px 8px 0;

    background-color: rgb(255, 255, 255);
} */


/* .form{
    
    background-color: white;
    
} */

.imagen{
    background-color: white;
    /* border: 2px solid black; */
    width: 100%;
    height: 100%;
    float: right;
}

#imagenAside{

    width: 100%;
    height: 100%;

}

ul{
list-style: none;}

.titulo{
    font-size: 3em;
}


#footerContainer{
    width: 100%;
}

#footer{
    position: absolute;
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    padding: 20px;
    margin-top: 10em;
    font-size: 15px;

}
#divGif{
    margin-block-end: auto;
    
}
#gif{
    height: 15em;
    width: 15em;
}
.row{
    color: #e0e0e0;
}

#rrss{
    margin-right: 2em;
}

#instagram{
    color: white;
}
#linkedin{
    color: white;
}
#youtube{
    color: white;
}
  