body{
    background-image: url('/images/fondoWeb.png');
    background-repeat: repeat; /* Repite la imagen tanto horizontal como verticalmente */
    background-position: top left; 
    background-size: 25%;
}
#navbarNav{
    /* background-color: rgb(37, 37, 37); */
    border-radius: 0 0 5% 5%;
    align-content:space-around;
    height: 20%;
    width: 90%;
    
    }

#logo{
    height: 5em;
    width: 5em;
}

#cabecera{
    height: 20%;
    width: 90%;
    margin: 2% 5% 2% 5%;
    align-items: center;    
    border-radius: 2em;
}
.carrito {
    position: absolute; /* Esto hace que el elemento se posicione en relación al primer ancestro posicionado */
    right: 2em; /* Esto coloca el elemento al borde derecho del contenedor */
    list-style: none;

}
#imgCaja{
    height: 6em;
    width: 8em;
}

#container{
    /* margin-right: 50em; */
    margin: 15em 5em 5em 5em;
    /* width: auto; */
    /* border: 1px solid black; */
    /* background-color: white; */
    background-color: rgba(255, 255, 255, 0.7); /* Color rojo con 50% de opacidad */
    border-radius: 5em;
    visibility: 0.5;
}
#elemento{
    /* background-image: url('/images/fondoWeb.png'); */
    border: 2px black;
    border-radius: 8px 8px 8px 8px;
    padding: 5em 5em 5em 5em;
}

/* 
#elemento2 {
    /* Esto hace que los elementos tengan el mismo ancho */
    /*
    flex: 1;  
    padding: 10px;
    height: 100%;
    width: 50%;
    margin-top: 0;
    margin-bottom: 2%;
    margin-left: 0%;
    margin-right: 5%;
    
    border-radius: 0 8px 8px 0;

    background-color: rgb(255, 255, 255);
} */


/* .form{
    
    background-color: white;
    
} */

.imagen{
    background-color: white;
    /* border: 2px solid black; */
    width: 100%;
    height: 100%;
    float: right;
}

#imagenAside{

    width: 100%;
    height: 100%;

}

ul{
list-style: none;}

.titulo{
    font-size: 3em;
}


#footerContainer{
    width: 100%;
}

#footer{
    position: absolute;
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    padding: 20px;
    margin-top: 10em;
}
#divGif{
    margin-block-end: auto;
    
}
#gif{
    height: 15em;
    width: 15em;
}
.row{
    color: #e0e0e0;
}

#rrss{
    margin-right: 2em;
}

#instagram{
    color: white;
}
#linkedin{
    color: white;
}
#youtube{
    color: white;
}
  