<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FresCumbrera</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
      defer
    ></script>
    <link rel="stylesheet" href="/css/interfaz.css" />
  </head>
  <body>
    <header data-bs-theme="dark">
      <nav
        class="navbar navbar-expand-lg  navbar-dark bg-dark fixed-top"
        id="cabecera"
      >
        <div class="container-fluid">
          <a class="navbar-brand" th:href="@{/inicio}"
            ><img src="/images/logo.png"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            data-bs-theme="dark"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse bg-dark"  id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"
                  >Suscríbete</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/categoria/}">Categorias</a>
              </li>
              <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/signin}">Login</a>
              </li>
              <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/autoRegistro}">Resgistro</a>
              </li>
              
              <!-- menú: nombre-usuario (solo si autenticado) -->
              <li
                class="nav-item ms-md-auto dropdown"
                sec:authorize="isAuthenticated()"
                id="autenticado"
              >
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span sec:authentication="name"></span
                ></a>
                <ul
                  class="dropdown-menu dropdown-menu-end"
                  aria-labelledby="navbarDropdown"
                >
                  <li>
                    <a class="dropdown-item" th:href="@{/usuario/editarPerfil}"
                      >Editar perfil</a
                    >
                  </li>
                  <li>
                    <form th:action="@{/logout}" method="post">
                      <button class="dropdown-item" type="submit">
                        Cerrar sesión POST
                      </button>
                    </form>
                  </li>
                </ul>
              </li>
            </ul>
            <ul id="caja">
              <li class="nav-item">
                <a class="nav-link" th:href="@{/lineaProducto/list/}"><img src="/images/logo-caja.png" alt="Carrito" id="imgCaja"></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="container">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div
          id="myCarousel"
          class="carousel slide mb-6"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators" id="carousel">
            <button
              type="button"
              data-bs-target="#myCarousel"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#myCarousel"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#myCarousel"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
            <button
              type="button"
              data-bs-target="#myCarousel"
              data-bs-slide-to="3"
              aria-label="Slide 4"
            ></button>
            <button
              type="button"
              data-bs-target="#myCarousel"
              data-bs-slide-to="4"
              aria-label="Slide 5"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" id="carousel">
              <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg> -->
              <img
                src="../img/1.jpeg"
                alt="imagen 1"
                width="100%"
                height="100%"
              />
              <div class="container">
                <div class="carousel-caption text-start">
                  <h1>One headline.</h1>
                  <p class="opacity-75">
                    Some representative placeholder content for the first slide
                    of the carousel.
                  </p>
                  <p>
                    <a class="btn btn-lg btn-primary" href="#">Sign up today</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item" id="carousel">
              <svg
                class="bd-placeholder-img"
                width="100%"
                height="100%"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
              >
                <rect
                  width="100%"
                  height="100%"
                  fill="var(--bs-secondary-color)"
                />
              </svg>
              <div class="container">
                <div class="carousel-caption">
                  <h1>Two example headline.</h1>
                  <p>
                    Some representative placeholder content for the second slide
                    of the carousel.
                  </p>
                  <p>
                    <a class="btn btn-lg btn-primary" href="#">Learn more</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item" id="carousel">
              <svg
                class="bd-placeholder-img"
                width="100%"
                height="100%"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
              >
                <rect
                  width="100%"
                  height="100%"
                  fill="var(--bs-secondary-color)"
                />
              </svg>
              <div class="container">
                <div class="carousel-caption text-end">
                  <h1>Tree more for good measure.</h1>
                  <p>
                    Some representative placeholder content for the third slide
                    of this carousel.
                  </p>
                  <p>
                    <a class="btn btn-lg btn-primary" href="#"
                      >Browse gallery</a
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item" id="carousel">
              <svg
                class="bd-placeholder-img"
                width="100%"
                height="100%"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
              >
                <rect
                  width="100%"
                  height="100%"
                  fill="var(--bs-secondary-color)"
                />
              </svg>
              <div class="container">
                <div class="carousel-caption text-end">
                  <h1>Four more for good measure.</h1>
                  <p>
                    Some representative placeholder content for the third slide
                    of this carousel.
                  </p>
                  <p>
                    <a class="btn btn-lg btn-primary" href="#"
                      >Browse gallery</a
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item" id="carousel">
              <svg
                class="bd-placeholder-img"
                width="100%"
                height="100%"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
              >
                <rect
                  width="100%"
                  height="100%"
                  fill="var(--bs-secondary-color)"
                />
              </svg>
              <div class="container">
                <div class="carousel-caption text-end">
                  <h1>Five more for good measure.</h1>
                  <p>
                    Some representative placeholder content for the third slide
                    of this carousel.
                  </p>
                  <p>
                    <a class="btn btn-lg btn-primary" href="#"
                      >Browse gallery</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#myCarousel"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#myCarousel"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <!-- <div class="container"> -->
    <footer class="mt-auto py-5 bg-dark" id="footer">
      <div class="row">
        <div class="col-6 col-md-2 mb-3">
          <h5>Ayuda</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-white">Preguntas frecuentes</a>
            </li>
            <li class="nav-item mb-2">
              <a th:href="@{/contacto/}" class="nav-link p-0 text-white">Contacto</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-white">Cómo funciona</a>
            </li>
          </ul>
        </div>

        <div class="col-6 col-md-2 mb-3">
          <h5>Conócenos</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a th:href="@{/somos/}" class="nav-link p-0 text-white">¿Quienes somos?</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-white">Colaboraciones</a>
            </li>
            <li class="nav-item mb-2">
            </li>
          </ul>
        </div>

        <div class="col-6 col-md-2 mb-3">
          <h5>Sostenibilidad</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-white">Care of planet</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-white">Envases sostenibles</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-white">Huella de carbono</a>
            </li>
          </ul>
        </div>

        <!-- <div class="col-md-5 offset-md-1 mb-3">
          <form>
            <h5>Subscribe to our newsletter</h5>
            <p>Monthly digest of what's new and exciting from us.</p>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
              <label for="newsletter1" class="visually-hidden"
                >Email address</label
              >
              <input
                id="newsletter1"
                type="text"
                class="form-control"
                placeholder="Email address"
              />
              <button class="btn btn-primary" type="button">Subscribe</button>
            </div>
          </form>
        </div> -->
      </div>

      <div
        class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top text-white"
      >
        <p>&copy; 2024, FresCumbrera. Todos los derechos reservados.</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3">
            <a class="text-white link-body-emphasis" href="#"
              ><svg class="bi" width="24" height="24">
                <use xlink:href="#twitter" /></svg>
              </a>
          </li>
          <li class="ms-3">
            <a class="link-body-emphasis" href="#"
              ><svg class="bi" width="24" height="24" fill="currentColor">
                <use href="/images/instagram.png" /></svg>
              </a>
          </li>
          <li class="ms-3">
            <a class="link-body-emphasis" href="#"
              ><svg class="bi" width="24" height="24">
                <use xlink:href="#facebook" /></svg>
              </a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
