<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacta con nosotros</title>
    <script src="/js/validacionContacto.js" defer></script>
</head>
<body>
    <form
      id="myForm"
      method="post"
      action="#"
      th:action="@{/contacto/submit}"
      th:object="${contactoForm}"
    >
        <label>Nombre:
            <input type="text" value="nombre" id="nombre" maxlength="40"
            placeholder="Nombre" pattern="^[a-zA-Z\s]{1,50}$" required/>
            <p id="avisoNombre"></p>
        </label><br/>
        <label>Email:
            <input type="email" value="email" id="email" 
            required/>
            <p id="avisoEmail"></p>
        </label><br/><br/>
        <textarea name="mensaje" id="mensaje" rows="25" cols="35">
            ¿En qué podemos ayudarte?
        </textarea><p id="avisoMensaje"></p>
      <input type="submit" value="Añadir" />
    </form>
    <a th:href="@{/inicio}">Inicio</a><br />
</body>
</html>